.bgpage0 {
    background-color: rgb(58, 126, 165);
    height:6vh;
    min-height:30px;
}
.bgpage1 {
    background-color: rgb(58, 126, 165);
    padding-top:2vh;
    padding-bottom:3vh;
    padding-left:1.5rem;
    height:5vh;
}
.bgpage2 {
    background-color: rgb(79, 172, 225);
    padding-top:5vh;
    padding-bottom:5vh;
    position: relative;
    display: box;
    padding-left:2vw;
    padding-right:2vw;

}
.bgpage3 {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom:40vh;
    width:90vw;
    border-radius:50px;
    overflow:hidden;
}
.bgpage4 {
    background-color: rgb(255, 255, 255)
}
.bgpage5 {
    background-color: rgb(112, 115, 137);
    padding-top:20vh;
}
.verticalAlign {
    margin-top:2vh;
    display:flexbox;
    width:80vw;
    position: relative;
}

h1 {
    font-family:Verdana;
    color: rgb(255,255,255);
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000,
    1.5px 1.5px #000, -1.5px -1.5px #000, 1.5px -1.5px #000, -1.5px 1.5px #000;
}

h2 {
    font-family:Verdana;
    color: rgb(255,255,255);
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

p {
    padding-left:5vw;
    padding-right:5vw;
    font-family:'Times-New-Roman';
    font-size:larger;
    line-height:2;
}

.headerParagraph {
    color: rgb(255,255,255);
    text-shadow: 2px 2px 5px red;
}

tr {
    align-self:left;
}

.topBarSpacing {
    width:0px;
    visibility: hidden;
}

.topBarContent {
    position:relative;
    background-color:rgb(58, 126, 165);
    height:6vh;
    width:9.5vw;
    font-size:1rem;
    font-family:'Helvetica';
    border:0px solid;
    cursor:pointer;
    color: rgb(239, 239, 239);
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    text-emphasis: bold;
}
.topBarContent:hover {
    background-color:rgb(193, 193, 193);
    font-size:1rem;
    border: 1px solid rgb(50,50,50);
}

.homeButton {
    position:relative;
    width:30vw;
    height:7vw;
    background-image:url("images/ddsLogo.png");
    background-repeat:no-repeat;
    background-size: 90%;
    border: 1px solid rgb(50,50,50);

}

.homeButton:hover {
    background-color:rgb(205, 205, 205);
    cursor:pointer;
}


.imageClass {
    position:absolute;
    padding-left: 5vw;
    width:200px;
}

.imageText {
    position:relative;
    padding-left: 40vw;
}

.bgpageLogo {
    width:33vw;
    background-color:rgb(255,255,255);
}

.duoDivision {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom: 5vh;
    margin-bottom:100px;
    width: 90vw;
    height: 120vw;   
    border-radius:50px;
    overflow:hidden;
}

.duoDivisionImage {
    background-color: rgba,(0,0,0,0);
    width:80vw;
    margin-left:5vw;
    margin-right:5vw;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.trioDivision {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom: 5vh;
    margin-bottom:100px;
    width: 90vw;
    height: 900px;   
    border-radius:50px;
    overflow:hidden;
}

.trioDivisionImage {
    background-color: rgba,(0,0,0,0);
    width:80vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin:5vw;
}

.middleImage{
    position:relative;
    width:60vw;
    padding-top:5vh;
    padding-bottom:5vh;
    margin-left:14vw;
    margin-right:14vw;
}