#bgpage0 {
    background-color: clear;
    padding-top:10vh;
}
#bgpage1 {
    background-color:rgb(112, 115, 137);
    padding-top:10vh;
}
#bgpage2 {
    background-color: rgb(165, 174, 187);
    padding-top:10vh;
    padding-left:2vw;
    padding-right:2vw;
    padding-bottom:10vh;
}
#bgpage3 {
    background-color: rgb(193, 210, 232);
    padding-top: 10vh;
    padding-bottom:10vh;
}
#bgpage4 {
    background-color: rgb(112, 115, 137);
    padding-top:20vh;
}
h1 {
    padding-left:5vw;
    font-family:Verdana;
}
p {
    padding-left:5vw;
    padding-right:5vw;
    font-family:'Times-New-Roman';
    font-size:larger;
    line-height:2;
}