body {
    margin:0px;
}
.bgpage0 {
    background-color: rgb(58, 126, 165);
    height:6vh;
    min-height:30px;
}
.bgpage1 {
    background-color: rgb(58, 126, 165);
    padding-top:.5vh;
    padding-bottom:7vh;
    padding-left:1.5rem;
    height:5vh;
}
.bgpage2 {
    background-color: rgb(79, 172, 225);
    padding-top:5vh;
    padding-bottom:5vh;
    position: relative;
    display: box;
    padding-left:2vw;
    padding-right:2vw;
}
.bgpage3 {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom:10vh;
    width:90vw;
    border-radius:50px;
    overflow:hidden;
    animation: BGPage3Anime 1s forwards;
}

.bgpage4 {
    background-color: rgb(255, 255, 255)
}
.bgpage5 {
    background-color: rgb(112, 115, 137);
    padding-top:20vh;
}
.verticalAlign {
    margin-top:2vh;
    display:flexbox;
    width:80vw;
    position: relative;
}
.monoFlexbox {
    display:flex;
    height:fit-content;
    flex-direction: column;
    flex-wrap:wrap;
}

h1 {
    font-family:Verdana;
    color: rgb(255,255,255);
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000,
    1.5px 1.5px #000, -1.5px -1.5px #000, 1.5px -1.5px #000, -1.5px 1.5px #000;
}

h2 {
    font-family:Verdana;
    color: rgb(255,255,255);
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

p {
    padding-left:5vw;
    padding-right:5vw;
    font-family:'Times-New-Roman';
    font-size:larger;
    line-height:2;
}

.headerParagraph {
    color: rgb(255,255,255);
    text-shadow: 2px 2px 5px red;
}

tr {
    align-self:left;
}

.topBarSpacing {
    width:-100px;
    visibility: hidden;
}

.topBarContent {
    position:relative;
    background-color:rgb(58, 126, 165);
    height:6vh;
    width:9vw;
    padding-left:-5vw;
    font-size:1rem;
    font-family:'Helvetica';
    border:0px solid;
    cursor:pointer;
    color: rgb(239, 239, 239);
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    text-emphasis: bold;
}
.topBarContent:hover {
    animation-name: topBarContentAnime;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    border-radius:10px
}

.homeButton {
    position:relative;
    width:25vw;
    height:6vw;
    background-image:url("../images/ddsLogo.png");
    background-repeat:no-repeat;
    background-size: 90%;
    border: 1px solid rgb(50,50,50);
    border-radius:10px;
    background-color:#fff;

}

.homeButton:hover {
    cursor:pointer;
    animation-name:homeButtonAnime;
    animation-duration:.125s;
    animation-fill-mode:forwards;
}


.imageClass {
    position:relative;
    margin-left: 5vw;
    width:80vw;
    border-radius:10px;
    
}

.imageText {
    position:relative;
    width:85vw;
    padding-left:5vw;
}

.bgpageLogo {
    width:33vw;
    background-color:rgb(255,255,255);
}

.duoDivision {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom: 5vh;
    margin-bottom:100px;
    width: 90vw;
    height: 120vw;   
    border-radius:50px;
    overflow:hidden;
    animation: duoDivisionAnime 1s forwards;
}

.duoDivisionImage {
    background-color: rgba,(0,0,0,0);
    width:80vw;
    margin-left:5vw;
    margin-right:5vw;
    position: relative;
    border-radius: 10px;
}

.trioDivision {
    background-color: rgb(255, 255, 255);
    padding-top: 0vh;
    padding-bottom: 5vh;
    margin-bottom:100px;
    width: 90vw;  
    border-radius:50px;
    overflow:hidden;
    animation: trioDivisionAnime 1s forwards;
}

.trioDivisionImage {
    background-color: #fff;
    width:80vw;
    border-radius: 10px;
    position: relative;
    margin:5vw;
}

.middleImage{
    position:relative;
    width:80vw;
    margin-top:5vh;
    margin-bottom:5vh;
    border-radius:10px;
    margin-left:5vw;
    margin-right:5vw;
}

@keyframes topBarContentAnime{
    0% {background-color:rgba(193, 193, 193, 0);
        font-size:1rem;
        border: 1px solid rgba(50,50,50, 0);}
    100% {background-color:rgba(193, 193, 193, 1);
        font-size:1.25rem;
        border: 1px solid rgba(50,50,50, 1);}
    }

@keyframes homeButtonAnime{
    0% {background-color: none;}
    100%{background-color:rgb(205, 205, 205);}
}

@keyframes BGPage3Anime{
    0%  {transform:translateX(100%);}
    100% {transform:translateX(0)}
}

@keyframes duoDivisionAnime{
    0% {transform:translateY(100%)}
    100% {transform:translateY(0)}
}

@keyframes trioDivisionAnime{
    0% {transform:translateX(-300%)}
    100% {transform:translateX(0)}
}